body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: url('../images/bg.jpg');
    color: white;
}

.container {
    width: 80%;
    display: grid;
    margin-top: 25px;
    grid-template-columns: 1fr 2fr 1fr;
}


.options {
    display: grid;
    margin-top: 50px;
    place-items: center;
}

.btn {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.options-left {
    grid-template: repeat(3, 1fr) / 1fr;
    height: 300px;
}

.btn-rainbow {
    background: linear-gradient(315deg, #c73e1d 0%, #a23b72 37%, #2e86ab 100%);
}

.btn-pen {
    background-color: black;
}

.btn-eraser {
    background-color: palevioletred;
}

.grid-container {
    border: 10px ridge rgba(68, 28, 87, 0.6);
    height: 650px;
    width: 650px;
    display: grid;
    grid-template: repeat(16, 1fr) / repeat(16, 1fr);
    margin: 0 30px;
}

.options-right {
    grid-template: repeat(2, 1fr) / 1fr;
    height: 180px;
}

input[type="number"] {
    padding: 10px;
    width: 50%;
    border: 1px  solid #cccccc;
    border-radius: 5px;
}

.btn-reset {
    justify-self: start;
    background-color: #ce2029;
}

.pixel:hover {
    background-color: black;
}

@media (max-width: 1200px) {
    .container {
        grid-template: 1fr 2fr 1fr / 1fr;
    }

    .grid-container {
        margin: 0 auto;
        width: 500px;
        height: 500px;
    }

    .options-left {
        grid-template: 1fr / repeat(3, 1fr);
        height: 100px;
    }
    
    .options-right {
        grid-template: 1fr / repeat(2, 1fr);
        height: 100px;
    }

    .btn-reset {
        justify-self: center;
    }
}